@use 'variables';

@mixin texts {
    margin-top: 64px;
    margin-bottom: 64px;
    font-size: 40px;
    line-height: 56px;
    font-weight: 900;
    text-align: center;
}

.hero {
    padding-top: 64px;
    padding-bottom: 100px;
    background-image: url(../images/local.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    
    .container {
        position: relative;
    }
    
    
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: variables.$secundaryTextColor;
        content: '';
        opacity: .7;
    }
    &__title {
        @include texts();
        font-family: "Playwrite ES Deco", cursive;
    }

    &__text {
        @include texts();
    }
    
    &__perfil__image{
        border-radius: 50%;
        max-width: 300px;
        border: 8px solid variables.$yellow;
        margin: 0 auto;
        display: block;
    }

    @media (max-width: 640px) {
        padding: 40px 0;

        &__text {
            font-size: 22px;
            line-height: 24px;
            margin: 24px 0;
        }
        &__title {
            font-size: 22px;
            line-height: 24px;
            margin: 24px 0;
        }
    }
}